
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>登录</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/face.ico" media="screen" />
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/tg_login.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/animate.min.css"/>

  <script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/tg_signin.js"></script>

</head>

<body>

  <div class="container">


    <form class="form-signin" action="">
      <div class="alert alert-danger alert-dismissible" role="alert" id="alertwarning">
        <span id="warningcontext"></span>
      </div>
      <h2 class="form-signin-heading">欢迎登陆</h2>
      <label for="inputEmail" class="sr-only">账号</label>
      <input type="text" id="uid" class="form-control" placeholder="账号" autofocus>
      <label for="inputPassword" class="sr-only">密码</label>
      <input type="password" id="password" class="form-control" placeholder="密码">
      <a class="btn btn-lg btn-primary btn-block" href="#" role="button" id="loginbtn">登陆</a>
    </form>

  </div> <!-- /container -->

</body>
</html>
